<%- include("template/cabecera", {tituloWeb: 'Productos'}) %>

    <h1 class="text-primary">CRUD Productos</h1>
    <a href="./productos/crear">Crear</a>
    <a href="">Actualizar</a>
    <a href="">Eliminar</a>
<%- include("template/footer") %>
