<%- include("../components/head-navbar", {tituloWeb: 'Inicio'}) %>

    <h1 class="text-primary">Titulo de mi sitio web Index</h1>
    <h2>
        <%= titulo %>
    </h2>

<%- include("../components/footer") %>