<%- include("../components/head-navbar", {tituloWeb: 'Inicio' }) %>
    <div class="myDiv1 container-fluid justify-content-center text-center">
        <div>
            <img src="https://img.icons8.com/clouds/2x/ffffff/shop.png" class="mb-4" alt="Logo" width="200"
                height="200" />
            <div>
                <h3 class="text-primary text-black-50">Por favor seleccione una opción del menú superior</h3>
            </div>
        </div>
    </div>

    <% if(typeof(alerta)!="undefined" && alerta.length> 0 ) { %>

        <div class="d-flex justify-content-center text-center">
            <div class="container-fluid">
                <div class="alert alert-<%= colorAlerta %> ">
                    <%=alerta%>
                </div>

                <% } %>

                    <%- include("../components/footer") %>