<%- include("../../components/head-navbar", {tituloWeb: 'Crear Productos'}) %>
<% if(typeof(alerta)!= "undefined" && alerta.length > 0 ) { %>
	<div class="alert alert-<%= colorAlerta %> "><%=alerta%></div>
	<% } %>
<h1 class="text-primary">Crear Productos</h1>
<form method="POST" enctype="multipart/form-data">
	<h2>Subir Datos</h2>
	<div>
		<input type="file" name="file_csv" accept=".csv"/>
		<input type="submit" value="Leer Archivo" id="btn-uploadCSV" />
	</div>
</form>


<%- include("../../components/footer") %>
