<%- include("../../components/head-navbar", {tituloWeb: 'Reportes'}) %>
<div class="myDiv3">
	<div class="p-3 d-flex justify-content-center text-center">
		<h1 class="text-primary">Reportes</h1>
	</div>
	<div class="container-fluid justify-content-center text-center">
		<div class="p-2 btn-group btn-group-toggle" data-toggle="buttons">
			<form class="bg-light" method="post">
				<button type="submit" name="listarClientes" class="btn btn-outline-dark bg-primary text-white" role="button">Listado de Clientes</button>
				<button type="submit" name="listarVentas" class="btn btn-outline-dark bg-success text-white" role="button">Ventas por Clientes</button>
			</form>
		</div>
	</div>
</div>


	<!-- Alerta -->
	<% if(typeof(alerta)!="undefined" && alerta.length> 0 ) { %>

		<div class="d-flex justify-content-center text-center">
			<div class="container-fluid">
				<div class="alert alert-<%= colorAlerta %>"><%=alerta%></div>
				<% } %>

	<!-- Alerta -->

</form>


	
<%- include("../../components/footer") %>
