<%- include("../../components/head-navbar", {tituloWeb: 'Clientes' }) %>
  <div class="p-3 d-flex justify-content-center text-center">
    <h1 class="text-primary">Clientes</h1>
  </div>
  <div class="container-fluid justify-content-center text-center">
    <form class="p-3 bg-light">
      <div class="form-row">
        <div class="form-group col-md-6"><div class="col px-md-8">
          <label for="Nombre">Nombre Completo</label>
          <input type="Nombre" class="form-control" Nombre="Nombre Completo" placeholder="Nombre Completo">
          <label for="Cédula">Cédula</label>
          <input type="Cédula" class="form-control" Cédula="Cédula" placeholder="Número de Cédula">
          <label for="Dirección">Dirección</label>
          <input type="Dirección" class="form-control" Dirección="Dirección" placeholder="Direccion de residencia">
        </div></div>
        <div class="form-group col-md-6"><div class="col px-md-8">
          <label for="Teléfono">Teléfono</label>
          <input type="Teléfono" class="form-control" Teléfono="Teléfono" placeholder="Número de teléfono">
          <label for="Correo">Correo Electrónico</label>
          <input type="Correo" class="form-control" Correo="Correo Electrónico" placeholder="Direccion de correo Electrónico">
        </div></div>
      </div>
      <div class="p-5 btn-group btn-group-toggle" data-toggle="buttons">
        <button type="button" class="btn btn-outline-dark">Consultar</button>
        <button type="button" class="btn btn-outline-success">Crear</button>
        <button type="button" class="btn btn-outline-warning">Actualizar</button>
        <button type="button" class="btn btn-outline-danger">Borrar</button>
      </div>
    </form>
  </div>
  <%- include("../../components/footer") %>