<%- include("../../components/head-navbar", {tituloWeb: 'Clientes' }) %>
  <div class="p-3 d-flex justify-content-center text-center">
    <h1 class="text-primary">Clientes</h1>
  </div>
  <div class="container-fluid justify-content-center text-center">
    <div class="p-5 btn-group btn-group-toggle" data-toggle="buttons">
      <a class="btn btn-outline-dark" href="./clientes/consultar" role="button">Consultar</a>
      <a class="btn btn-outline-success" href="./clientes/crear" role="button">Crear</a>
      <a class="btn btn-outline-warning" href="./clientes/actualizar" role="button">Actualizar</a>
      <a class="btn btn-outline-danger" href="./clientes/eliminar" role="button">Eliminar</a>
    </div>
  </div>
  <%- include("../../components/footer") %>