<%- include("../../components/head-navbar", {tituloWeb: 'Clientes'}) %>
<h1 class="text-primary">CRUD Clientes</h1>
<a href="./clientes/crear">Crear</a>
<a href="">Actualizar</a>
<a href="">Eliminar</a>
<%- include("../../components/footer") %>
