<%- include("../../components/head-navbar", {tituloWeb: 'Clientes'}) %>
<h1 class="text-primary">Clientes</h1>
             <form>
             <div class="form-row">
               <div class="form-group col-md-4">
                 <label for="Nombre">Nombre Completo</label>
                 <input type="Nombre" class="form-control" Nombre="Nombre Completo">
               </div>
               <div class="form-group col-md-4">
                 <label for="Cédula">Cédula</label>
                 <input type="Cédula" class="form-control" Cédula="Cédula">
               </div>
             </div>
             <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="Teléfono">Teléfono</label>
                    <input type="Teléfono" class="form-control" Teléfono="Teléfono">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Correo">Correo Electrónico</label>
                    <input type="Correo" class="form-control" Correo="Correo Electrónico" placeholder="@">
                  </div>
                </div>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="Dirección">Dirección</label>
                        <input type="Dirección" class="form-control" Dirección="Dirección">
                      </div>
                     









          </div>
          <button type="button" class="btn btn-primary">Crear</button>
          <button type="button" class="btn btn-success">Consultar</button>
          <button type="button" class="btn btn-warning">?????</button>

    
  </form>

<%- include("../../components/footer") %>
